
.topbar {
    background: #2d1a4a;
    color: #fff;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.topbar h1 {
    font-size: 20px;
    font-weight: 600;
}

.back-btn {
    position: absolute;
    left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENT */
.content {
    padding: 30px 40px;
    margin-left: 100px;
    margin-right: 100px;
}

/* INFO SECTION */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.icon-book {
    width: 90px;
    height: 90px;
    background: #2d1a4a;
    color: #fff;
    font-size: 34px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.badge {
    background: #2d1a4a;
    color: #fff;
    padding: 0px 6px 14px 14px;
    border-radius: 25px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

/* BUTTON */
.btn-main {
    background: #2d1a4a;
    color: #fff;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 14px;
}

/* DESCRIPTION */
.description {
    margin-top: 18px;
    max-width: 1500px;
    font-size: 13px;
    line-height: 1.6;
}

/* READING BOX */
.reading-box {
    margin-top: 30px;
    width: 100%;
    height: 260px;
    background: #2d1a4a;
    border-radius: 26px;
}
